[Unit]
Description=Synkade Phoenix App
After=network.target postgresql.service

[Service]
Type=exec
User=synkade
Group=synkade
WorkingDirectory=/opt/synkade
EnvironmentFile=/opt/synkade/.env
ExecStart=/opt/synkade/repo/_build/prod/rel/synkade/bin/server
ExecStop=/opt/synkade/repo/_build/prod/rel/synkade/bin/synkade stop
Restart=on-failure
RestartSec=5
SyslogIdentifier=synkade

[Install]
WantedBy=multi-user.target
